.vacancy-card {
    background: #FFFFFF;
    width: 100%;
    border: 1px solid #EAEBED;
    border-radius: 12px;
    margin-top: 16px;
    padding: 24px 25px 24.5px 24px;
}

.vacancy-data {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vacancy-title {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5E96FC;
    padding-right: 20px;
}

.vacancy-details {
    display: flex;
    margin-top: 12.5px;
    margin-bottom: 13px;
}

.vacancy-details img {
    margin: 0 12px;
}

.vacancy-salary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #232134;
}

.vacancy-schedule {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232134;
}

.vacancy-location {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232134;
}

.vacancy-location img{
    margin-right: 11.33px
}

.star.mantine-Button-root{
    padding: 0px;
    border: 0px;
    height: 20px;
}

.star .mantine-Button-inner{
    width: 22px;
    height: 20px;
}

.star .mantine-Button-leftIcon {
    margin-right: 0px;
}


@media (max-width: 580px) {

    .vacancy-data{
        .title{
            position: relative;
            .vacancy-title{
                font-size: 18px;
                line-height: 24px;
                padding-right: 0;
                margin-bottom: 10px;
            }
            .star.mantine-Button-root{
                position: absolute;
                bottom: -60px;
                right: 0;
            }
        }
    }
    .vacancy-details{
        flex-direction: column;

        .vacancy-salary{
            margin-bottom: 10px;
        }

        img{
            display: none;
        }
    }
    
}

@media (max-width: 420px) {
    .vacancy-title {
        font-size: 18px;
    }

    .vacancy-salary {
        font-size: 14px;
    }

    .vacancy-schedule {
        font-size: 14px;
    }
    
    .vacancy-location {
        font-size: 14px;
    }
}