.search-page {
    padding: 40px 162px;
    display:  flex;
    justify-content: space-between;
}

.vacancies {
    width: calc(100% - 28px - 315px);
}

.pagination {
    margin-top:40px;
}

.loader {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
