.favorites-page {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0px 40px;
}

.favorite-vacancies {
    max-width: 773px;
    width: 100%;
    margin-top: 24px;
}

.search-vacancies {
    padding: 10px 24px;
    width: 164px;
    height: 42px;
    background: #DEECFF;
    border-radius: 8px;
    color: #3B7CD3;
    margin-top: 32px;

    .mantine-Button-label {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 155%;
    }
}

.search-vacancies:hover {
    background: #5E96FC;
    color: #fff;
}


.loading {
    margin-top: 60px;
}


@media (max-width: 860px) {
    .favorites-page {
        padding-top: 4px;
    }
    .favorite-vacancies{
        margin-top: 0;
    }
}

@media (max-width: 420px) {
    .favorites-page {
        padding: 4px 20px 20px 20px;
    }
}